<h2>DotLibraryへようこそ</h2>
<div class="new_box">
  <div class="d-flex flex-wrap">
    <div class="col-sm-12 col-lg-12">
    <% if @orders_count == 0 %>
        受発注連絡の更新はありません。
    <% else %>
        確認が必要な受発注連絡が<%= @orders_count %>件あります。
    <% end %>
    </div>
    <div class="col-sm-12 col-lg-12">
    <% if @end_orders_count > 0 %>
        完了した受発注連絡が<%= @end_orders_count %>件あります。
    <% end %>
    </div>
    <div class="col-sm-12 col-lg-12">
    <% if @messages == 0 %>
        新しいメッセージはありません。
    <% else %>
        未読のメッセージが<%= @messages %>件あります。
    <% end %>
    </div>

  <div class="d-flex flex-wrap">
    <div class="col-sm-12 col-lg-4">
        名前：
    </div>
    <div class="col-sm-12 col-lg-8">
        <%= @sub_user.name %>
    </div>

    <div class="col-sm-12 col-lg-4">
        利用者ID：
    </div>
    <div class="col-sm-12 col-lg-8">
        <%= @user.id %>
    </div>

    <div class="col-sm-12 col-lg-4">
        個人番号：
    </div>
    <div class="col-sm-12 col-lg-8">
        <%= @user.number %>
    </div>

    <div class="col-sm-12 col-lg-4">
        利用番号：
    </div>
    <div class="col-sm-12 col-lg-8">
        <%= @sub_user.sub_number %>
    </div>

    <div class="col-sm-12 col-lg-4">
        電話番号：
    </div>
    <div class="col-sm-12 col-lg-8">
        <%= @sub_user.phone %>
    </div>

<% if @use_auth.authority_id == 2 %>
    <div class="col-sm-12 col-lg-4">
        FAX：
    </div>
    <div class="col-sm-12 col-lg-8">
        <%= @sub_user.fax %>
    </div>

    <div class="col-sm-12 col-lg-4">
        担当者：
    </div>
    <div class="col-sm-12 col-lg-8">
        <%= @sub_user.manager %>
    </div>
<% end %>

    <div class="col-sm-12 col-lg-4">
        メールアドレス：
    </div>
    <div class="col-sm-12 col-lg-8">
        <%= @sub_user.email %>
    </div>

    <div class="col-sm-12 col-lg-4">
        住所：
    </div>
    <div class="col-sm-12 col-lg-8" style="width:500px; word-wrap: break-word;">
        <%= @sub_user.address %>
    </div>

    </div>


</div>
