<h2 style="margin: 20px;">アカウント詳細</h2>
<div class="new_box">

  <div class="d-flex flex-wrap">
    <div class="col-sm-12 col-lg-4">
        登録種別：
    </div>
    <div class="col-sm-12 col-lg-8">
      <% case @use_auth.authority_id %>
      <% when 1 then %>
          司書
      <% when 2 then %>
          書店
      <% when 3 then %>
          個人提供者
      <% else %>
          不明  
      <% end %>
    </div>

    <div class="col-sm-12 col-lg-4">
        名前：
    </div>
    <div class="col-sm-12 col-lg-8">
        <%= @sub_user.name %>
    </div>

<% if @c_job.authority_id == 1 %>
    <div class="col-sm-12 col-lg-4">
        利用者ID：
    </div>
    <div class="col-sm-12 col-lg-8">
        <%= @user.id %>
    </div>

    <div class="col-sm-12 col-lg-4">
        個人番号：
    </div>
    <div class="col-sm-12 col-lg-8">
        <%= @user.number %>
    </div>

    <div class="col-sm-12 col-lg-4">
        利用番号：
    </div>
    <div class="col-sm-12 col-lg-8">
        <%= @sub_user.sub_number %>
    </div>
<% end %>

    <div class="col-sm-12 col-lg-4">
        電話番号：
    </div>
    <div class="col-sm-12 col-lg-8">
        <%= @sub_user.phone %>
    </div>

<% if @use_auth.authority_id == 2 %>
    <div class="col-sm-12 col-lg-4">
        FAX：
    </div>
    <div class="col-sm-12 col-lg-8">
        <%= @sub_user.fax %>
    </div>

    <div class="col-sm-12 col-lg-4">
        担当者：
    </div>
    <div class="col-sm-12 col-lg-8">
        <%= @sub_user.manager %>
    </div>
<% end %>

    <div class="col-sm-12 col-lg-4">
        メールアドレス：
    </div>
    <div class="col-sm-12 col-lg-8">
        <%= @sub_user.email %>
    </div>

    <div class="col-sm-12 col-lg-4">
        住所：
    </div>
    <div class="col-sm-12 col-lg-8" style="word-wrap: break-word;">
        <%= @sub_user.address %>
    </div>
    </div>
          <h4 style="margin-top: 30px;"><%= link_to t('common.back'), users_path %></h4>
</div>
