<h2 style="margin: 20px;">受発注一覧</h2>
<div class="order_box">

<% unless @orders.present? %>
  <h2 style="margin: 20px;">受発注連絡はありません。</h2>
<% else %>

<div class="example">
<table style="border:3px solid">
  <thead>
    <tr>
      <th style="width:200px;">
      <% if @c_job.authority_id == 1 %>
        発注先
      <% else %>
        受注元
      <% end %>      
      </th>
      <th style="width:500px;">タイトル</th>
      <th style="width:200px;">受発注状況</th>
      <th style="width:50px;">確認</th>
    </tr>
  </thead>
  <tbody>

    <% @orders.each do |order| %>
      <tr>
        <td style="border:2px solid"><%= order.user_name %></td>
        <td style="border:2px solid; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; max-width: 400px; "><%= order.title %></td>
        <td style="border:2px solid">
        <% order.number += 1 %>
        <% if order.user_id == @current_user.id && order.number.in?([3,5,7,9,11,13]) %>
          <%= order.receive_user_name %>
        <% elsif order.receive_user_id == @current_user.id && order.number.in?([1,2,4,6,8,10,12]) %>
          <%= order.receive_user_name %>
        <% else %>
          <font color=red><%= order.receive_user_name %></font>
        <% end %>
        </td>
        <td style="border:2px solid"><%= link_to '確認', talk_orders_path(order_id: order.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% end %>
</div>
