<h2 style="margin: 20px;">受発注作成</h2>
<div class="order_box">

<% if @order.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @order.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @detail.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @detail.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= search_form_for @q, url: choice_orders_path do |f| %>
  <div class="d-flex flex-wrap">
    <div class="col-sm-12 col-lg-3">
      <%= f.label :keyword, '発注先：' %>
    </div>
    <div class="col-sm-12 col-lg-7">
    <%= f.select :id_eq, @sub_users, class: 'form-control' %>
    </div>
    <div class="col-sm-12 col-lg-2">
      <%= f.submit '検索', class: "btn btn-primary"  %>
    </div>
  </div>
  <% end %>

<%= form_with(model: @order, local: true) do |f| %>
  <%= f.hidden_field :user_id, :value => @userA.id %>
  <%= f.hidden_field :book_ids, :value => @book_select %>
  <div class="d-flex flex-wrap">
      <div class="col-sm-12 col-lg-4">
        <%= f.label :受発注相手： %>
    </div>
    <div class="col-sm-12 col-lg-8">
        <%= @sub_user.name %>
    </div>
    <div class="col-sm-12 col-lg-12">
      <table style="border:3px solid;">
        <thead>
          <tr>
            <th style="border:2px solid; width:200px;">書籍名</th>
            <th style="border:2px solid; width:250px;">希望数量</th>
            <th style="border:2px solid; width:100px;">在庫数</th>
            <% case @use_auth.authority_id %> 
            <% when 2 then %> 
              <th style="border:2px solid; width:100px;">値段</th>
            <% when 3 then %> 
              <th style="border:2px solid; width:100px;">備考</th>
              <th style="border:2px solid; width:100px;">譲渡貸借</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @books.size.times do |n| %>
            <tr>
              <td style="border:2px solid">
                <%= f.hidden_field :book_id, :value => @books[n][0] %>
                <%= @books[n][1] %>
              </td>
              <td style="border:2px solid"><%= f.text_field :quantities, :name => "order[quantities][]" ,:size => 22, :maxlength => 7, :placeholder => "1以上在庫数以下で指定" %></td>
              <td style="border:2px solid"><%= @books[n][2] %></td>
                <% case @use_auth.authority_id %> 
                <% when 2 then %> 
              <td style="border:2px solid">
                  <%= @books[n][3] %>
              </td>
                <% when 3 then %>
                  <% if @books[n][3] == true %> 
              <td style="border:2px solid">
                      <%= f.text_field :remarks, :name => "order[remarks][]" ,:size => 20, :maxlength => 30, :placeholder => "例：譲渡可能、貸借可能" %>
              </td>
              <td style="border:2px solid">
                      譲渡可能
              </td>
                  <% else %>
              <td style="border:2px solid">
                      <%= f.text_field :remarks, :name => "order[remarks][]" ,:size => 20, :maxlength => 30, :placeholder => "例：貸借可能" %>
              </td>
              <td style="border:2px solid">
                      貸借のみ
              </td>
                  <% end %>
                <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12 col-lg-4">
        <%= f.label :希望納期： %>
    </div>
    <div class="col-sm-12 col-lg-8">
        <%= f.text_field :ord_limit, :size => 32, :maxlength => 30, :placeholder => "30文字以内" %>
    </div>

    <div class="col-sm-12 col-lg-4">
        <%= f.label :希望支払条件： %>
    </div>
    <div class="col-sm-12 col-lg-8">
        <%= f.text_field :condition, :size => 32, :maxlength => 30, :placeholder => "30文字以内" %>
    </div>

    <div class="col-sm-12 col-lg-4">
        <%= f.label :進捗状態： %>
    </div>
    <div class="col-sm-12 col-lg-8">
      <%= f.select(:number, ["未依頼", "見積依頼"]) %>
    </div>

    <div class="col-sm-12 col-lg-4">
      <h4 style="margin-top: 30px;"><%= f.submit "作成", class: "btn btn-success"  %></h4>
    </div>
    <div class="col-sm-12 col-lg-6">
        <h4 style="margin-top: 30px;"><%= link_to t('common.back'), choice_orders_path(user_id: @userA.id) %></h4>
    </div>

  </div>
<% end %>
</div>
